.hero {
    display: flex;
    padding-bottom: 6rem;
    &_left {
        flex: 0 0 50%;
        padding-top: 7rem;

        &-heading {
            font-size: 6rem;
            color: $primaryBlue;
            line-height: 1.2;
            margin-bottom: 3rem;
        }

        &-subHeading {
            font-size: 1.6rem;
            padding-right: 25rem;
            width: 100%;
            padding-bottom: 3rem;
        }
    }

    &_right {
        flex: 0 0 50%;
        padding-top: 4rem;

        &-img {
            height: 100%;
            width: 100%;
            max-width: 100%;
            padding-left: 4rem;
        }
    }
}
